<h1>Listing pages</h1>

<table id="pages-table">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Background color</th>
    <th>Padding</th>
    <th>Margin</th>
    <th>Font</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Page</a>